{{#let (changeset this.model) as |changesetObj|}}
  <EuiFieldText
    @value={{changeset-get changesetObj 'firstName'}}
    placeholder="First name"
    {{on 'input' (pick 'target.value' (changeset-set changesetObj 'firstName'))
    }}
  />
  <br />
  <EuiFieldText
    @value={{changeset-get changesetObj 'author.name'}}
    placeholder="Author name"
    {{on
      'input'
      (pick 'target.value' (changeset-set changesetObj 'author.name'))
    }}
  />
  <br />
  <EuiSwitch
    @label="user.address.primary.really"
    @checked={{changeset-get changesetObj 'user.address.primary.really'}}
    @onChange={{pick
      'target.checked'
      (changeset-set changesetObj 'user.address.primary.really')
    }}
  />
  <EuiSwitch
    @label="some.super.ultra.mega.nested.normal.property"
    @checked={{changeset-get
      changesetObj
      'some.super.ultra.mega.nested.normal.property'
    }}
    @onChange={{pick
      'target.checked'
      (changeset-set
        changesetObj 'some.super.ultra.mega.nested.normal.property'
      )
    }}
  />
  <br />
  <EuiSwitch
    @label="document.some.bool"
    @checked={{changeset-get changesetObj 'document.some.bool'}}
    @onChange={{pick
      'target.checked'
      (changeset-set changesetObj 'document.some.bool')
    }}
  />
  <EuiSwitch
    @label="Super deep, initially undefined, megamorphic model set: document.super.mega.nested.property"
    @checked={{changeset-get changesetObj 'document.super.mega.nested.property'
    }}
    @onChange={{pick
      'target.checked'
      (changeset-set changesetObj 'document.super.mega.nested.property')
    }}
  />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  {{log (changeset-get changesetObj 'document.super.mega.nested.property')}}
  {{log changesetObj}}
  {{!-- {{changesetObj.user.name}} --}}
  <GetProp @fieldName="firstName" @changeset={{changesetObj}} />
  <br />
  <GetProp @fieldName="author.name" @changeset={{changesetObj}} />
  <br />
  <GetProp @fieldName="user.address.primary" @changeset={{changesetObj}} />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <EuiTitle>
    Changes
  </EuiTitle>
  {{#each (get changesetObj 'changes') as |change index|}}
    <li>
      {{change.key}}
      –
      {{if change.value change.value '[empty string]'}}
    </li>
  {{/each}}
  <NativeGetter
    @fieldNames={{array 'some.super.ultra.mega.nested.normal.property'}}
    @changeset={{changesetObj}}
    @label="some.super.ultra.mega.nested.normal.property"
  />
  <ComputedValue
    @fieldNames={{array 'some.super.ultra.mega.nested.normal.property'}}
    @changeset={{changesetObj}}
    @label="some.super.ultra.mega.nested.normal.property"
  />
  <NativeGetter
    @fieldNames={{array 'some.super.ultra.mega.nested'}}
    @changeset={{changesetObj}}
    @label="some.super.ultra.mega.nested"
  />
  <NativeGetter
    @fieldNames={{array 'document.bool'}}
    @changeset={{changesetObj}}
    @label="document.bool"
  />
  <NativeGetter
    @fieldNames={{array 'user.address.primary' 'author.name'}}
    @changeset={{changesetObj}}
    @label="user.address.primary or author.name"
  />
  <NativeGetter
    @fieldNames={{array 'firstName'}}
    @changeset={{changesetObj}}
    @label="firstName"
  />
  <NativeGetter
    @fieldNames={{array 'author.name'}}
    @changeset={{changesetObj}}
    @label="author.name"
  />
{{/let}}